/* Styles for accordion-widget */
 .ucwp-accordion-widget{
    .ucwp-accordion{
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    .ucwp-accordion-item {
        width: 100%;
        border: 1px solid #0077B6;
        background:#EFF7FB;
        color : #03045E;
        font-family: 'Poppins', sans-serif;

        .ucwp-accordion-item-heading {
            width: 100%;
            height: 76px;


            .ucwp-accordion-item-button{
                width: 100%;
                height: 100%;
                display: flex;
                position: relative;
                justify-content: space-between;
                align-items: center;
                padding: 0 28px;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s;

                .accordion-backdrop-wrapper{
                    position: absolute;
                    inset: 0;
                    width: 100%;
                    height: 100%;
                }

                .accordion-title-wrapper {
                    flex-basis: 70%;
                    position: relative;
                    font-size: 18px;
                    font-weight: 500;
                }


                .accordion-right-side {
                    display: flex;
                    justify-content: flex-end;
                    gap: 10px;
                    align-items: center;
                    flex-basis: 30%;
                    position: relative;
                    font-size: 18px;
                    font-weight: 500;

                    .accordion-item-icon {
                        font-size: 20px;
                        color: #0077B6;
                    }
                }
            }
        }

        .ucwp-accordion-item-panel {
            width: 100%;

            .ucwp-accordion-item-panel-main {
                width: 100%;
                display: flex;
                flex-direction: column;
                .ucwp-accordion-item-panel-graph {
                    width: 100%;
                    flex-basis: 85%;
                }

                .ucwp-accordion-item-panel-content {
                    width: 100%;
                    flex-basis: 15%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    padding: 35px;
                    font-size: 29px;
                    font-weight: 600;
                }
            }
        }
    }
}
