/* Styles for donation-box-2 */
.ucp-donation-box-2 {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }


    // start of style 
    display: flex;
    position: relative;
    flex-wrap:  wrap;
    gap: 20px;

    .ucp-db2-card {
        width: 330px;
        height: 360px;
        border : 0.6px solid #0077B6; //TODO: make this a variable


        .ucp-db2-card-main {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 18px 0;
            border-radius: 6px;
            gap: 18px;

            > .ucp-db2-card-header {
                width: 100%;
                height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;
                font-size:0.9375rem;
                font-weight: 300;

                .ucp-db2-card-header-logo-holder{
                    height: 100%;
                    aspect-ratio: 1/1;

                    img {
                        width: 100%;
                        aspect-ratio: 1/1;
                    }
                }

                .ucp-db2-card-header-info {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    color : #03045E;
                    font-size: 15px;
                    font-weight: 300;
                }
            }

            .ucp-db2-card-qrcode-holder {
                width: 55%;
                aspect-ratio: 1/1;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .ucp-db2-card-input-holder {
                width: 100%;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                input {
                    width: 222px;
                    height: 100%;
                    background-color: transparent;
                    border: 0.6px solid #03045E; //TODO: make this a variable
                    outline: none;
                    font-size: 15px;
                    font-weight: 300;
                    padding : 0 23px;   
                    // add selection color
                    ::selection {
                        background-color: #0077B6;
                        color: #ffffff;
                    }
                    
                }

                button {
                    width: 25px;
                    aspect-ratio: 1/1;
                    // transparent background
                    background: transparent;
                    border:none;
                    outline: none;
                    cursor: pointer;
                    display: grid;
                    place-items: center;
                    font-size: 20px;
                    color: #03045E; //TODO: make this a variable
                }
            }
        }
    }
}