// /* Styles for donation-box */
// .donation-form-container {
//     background-color: #F0F0F0;
//     padding: 20px;
//     border-radius: 10px;

//     .donation-form-header {
//       display: flex;
//       justify-content:center;
//       margin-bottom: 20px;
  
//       #dfh-span {
//         background-color: gainsboro;
//         padding: 5px;
//         margin: 2px;
//         border-radius: 5%;
//         justify-content: center;
//       }

//       img {
//         width: 30px;
//         height: 30px;
//         padding: 2px;
//       }
//     }
  
//     .qr-code {
//       text-align: center;
//       margin-bottom: 20px;
  
//       img {
//         width: 200px;
//         height: 200px;
//       }
//     }
  
//     .form {
//       text-align: center;
  
//       p {
//         margin-bottom: 10px;
//       }
  
//       input {
//         width: 100%;
//         padding: 10px;
//         border: 1px solid #ccc;
//         border-radius: 5px;
//       }
//     }
//   }
  
//   // Responsive styles using media queries
//   @media (max-width: 768px) {
//     // Adjust styles for smaller screens
//   }



.ucp-donation-box {
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  // Styles for donation-box
  width: minmax(100%, 694px);
  display: flex;
  flex-direction: column;
  // poppins font
  font-family: poppins, sans-serif;

  > .ucp-db-platform-selection-btn-cnt{
    width: 100%;
    display: flex;

    .ucp-db-platform-selection-btn {
      display: flex;
      width: 110px;
      height: 47px;
      background: transparent;
      border: 0.5px solid transparent;

      // if this also have class ucp-db-platform-selection-btn-selected highlight the border 
      &.ucp-db-platform-selection-btn-selected {
        border: 0.5px solid #0077B6;
      }

      > .ucp-db-platform-selection-btn-img {
        flex-basis: 35%;
        height: 100%;
        display: grid;
        place-items: center;

        > img {
          width: 80%;
          aspect-ratio: 1/1;
        }
      }

      > .ucp-db-platform-selection-btn-text {
        flex-basis: 65%;
        height: 100%;
        font-size: 12px;
        font-weight: 600;
        color: #03045E;
        display: flex;
        align-items: center;

        text-align: left;
        text-transform: uppercase;
      }

    }

  }

  > .ucp-db-platform-selected-cnt{
    width: 100%;
    display: grid;
    place-items: center;
    border: 0.5px solid #0077B6;

    > .ucp-db-platform-crypto-selected{
      width: 100%;
      height: 312px;
      display: flex;
      padding: 45px 37px;
      gap: 27px;

      >.ucp-db-platform-crypto-selected-qr-cnt{
        width: 233px;
        height: 100%;
        display: grid;
        place-items: center;

        > img{
          width: 100%;
          aspect-ratio: 1/1;
        }
      }

      > .ucp-db-platform-crypto-selected-form-cnt{
        width: calc(100% - (233px + 27px));
        height: 100%;
        display: grid;
        place-items: center;

        .ucp-db-platform-crypto-selected-form-main {
          width: 100%;
          display: flex;
          flex-direction: column;
        }
      }
    }

    >.ucp-db-platform-metamask-selected {
      width: 100%;
      height: 312px;
      display: flex;
      padding: 45px 37px;
      gap: 27px;

      >.ucp-db-platform-metamask-selected-qr-cnt {
          width: 233px;
          height: 100%;
          display: grid;
          place-items: center;
      
          >img {
            width: 100%;
            aspect-ratio: 1/1;
          }
        }

      >.ucp-db-platform-metamask-selected-form-cnt {
        width: calc(100% - (233px + 27px));
        height: 100%;
        display: grid;
        place-items: center;

        .ucp-db-platform-metamask-selected-form-main {
          width: 100%;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}