div.ucp-price-slider-widget{
	padding : 5px;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;

	* {
		box-sizing: border-box;
	}

	.ucp-price-slider-control {
		position: absolute;
		width: 100%;
		height: 100%;
		inset: 0;
		display :flex;
		justify-content: space-between;

		.ucp-price-slider-control-btn{
			height: 100%;
			width: 37px;
			display:grid;
			place-items: center;
			z-index: 60;
			color : #0077B6;
			background: white;
		}

	}

.ucp-price-slider-widget-marquee{
	width : 100%;
	height: 100%;
	overflow: hidden;
	position: relative;

	.ucp-price-slider-dark{
		.ucp-price-slider-card {
			background : #353B3E !important;
			color:#0077B6 !important;
		}
	}


	div.ucp-price-slider-holder-cnt {
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 10px;
		padding: 10px;


		div.ucp-price-slider-card {
			position: relative;
			width: 235px;
			height: 85px;
			//	0.66px border
			//	TODO: make a variable for color
			border: 0.5px solid #0077B6;
			border-radius: 3px;
			overflow: hidden;

			div.ucp-price-slider-card-image {
				position: absolute;
				width: 75px;
				aspect-ratio: 1/1;
				left: -15px;
				top: -15px;
				border-radius: 50%;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 50%;
				}
			}

			div.ucp-price-slider-card-content {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 12px 20px;
				position: relative;

				.ucp-price-slider-card-content-child {
					width: 100%;
					text-align: right;
				}

				.ucp-price-slider-card-content-title {
					font-weight: 500;
					font-family: 'Poppins', sans-serif;
					font-size: 16px;
					line-height: 24px;
					color: #03045E;
				}

				.ucp-price-slider-card-content-price {
					font-weight: 700;
					font-family: 'Poppins', sans-serif;
					font-size: 16px;
					line-height: 24px;
					color: #03045E;
				}

			}

		}
	}
}

}