# Node.js
node_modules/

# Build output
dist/
build/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Compiled JavaScript
*/react-build/*.js
*/react-build/*.js.map

# Compiled CSS
*/react-build/*.css
*/react-build/*.css.map

# Dependency lock files
yarn.lock
package-lock.json

# Logs
logs/
*.log


assets/react-build/
assets/react-build/*